// Add your custom styles here.

body .pl-area .pl-section .pl-section.section-sms-dividers > .pl-section-pad{
	margin: 0 !important;
	padding: 0 !important;
}

.divider-full-width{
	position: relative;
	width: 100%;
	bottom: -1px;
	z-index: 1; 
}