
/* Fix for issue with thumbnail size in accordian / repeater that caused fields to push down into other accordion items */
.opt-accordion .ui-accordion-content .opt-upload-thumb{
	max-width: 200px !important;
}

/* Icon color fix */
.sms-band .pl-area-controls .area-control i, 
.sms-band .sms-indicator i, 
.pl-section-controls .s-control i{
	color: #fff !important;
	text-shadow: none;
}
.sms-band .pl-area-controls, .sms-band  .pl-section-controls{
	line-height: 21px !important;
	letter-spacing: 0 !important;
}
.drag-drop-editing .pl-section:hover > * > .sms-indicator-wrap{
	visibility: visible;
	display: block;
	z-index: 101;
}
.sms-indicator-wrap{
	top: 21px !important;
	/*background: rgba(0,0,0,.2) !important;*/
	background: none !important;
	text-align: left !important;
}
.sms-indicator-wrap .controls-left{
	/*width: 100%;*/
	padding-left: 0 !important;
}
.sms-indicator-light {
	background: none;
	border: none;
	/*float: left;*/
}
.sms-indicator-title{
	/*background: none !important;*/
	border-radius: 0 !important;
	font-weight: 600 !important;
	text-transform: uppercase;
}

.sms-indicator {
	font-size: 10px;
	font-weight: 400;
	display: inline-block;
	margin-right: 5px;
	background: rgba(0,0,0,.5);
	box-shadow: inset 0 0 1px rgba(255,255,255,.7);
	border-radius: 10px;
	color: #fff;
	padding-left: 8px;
	padding-right: 8px;
}
.sms-indicator span{
	margin-left: 5px;
}
.sms-indicator-wrap .row {
	margin-top: 1px;
	background: rgba(0,0,0,.5);
	position: relative;
}

/*
.sms-indicator-wrap{
	visibility: hidden;
	display: none;
	position: absolute;
	top: auto;
	left: 0;
	bottom: 100%;
	margin-bottom: 2px;
	width: 100%;
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
	background: rgba(0,0,0,0.5);
}




.sms-indicator-wrap-title{
	font-size: 12px;
	margin-right: 10px;
	text-transform: uppercase;
	color: #fff;
}


*/