.sms-map-wrap {
}


/* This is needed to overide img max-width 100% HAX */
.gmnoprint img { max-width: none !important; }

/* This is needed to overide img max-width 100% HAX */
.sms-map img {
	max-width: none !important;
}

// Google Maps Style
.gm-style-iw{
  overflow: hidden;
  text-align: center;
  p{margin-top: 0;margin-bottom: 5px;}
  // p:last-child{margin-bottom: 0;}
  p:first-child{margin-top: 5px;}
  &>div{
    width: 100% !important;
  }
  & + div{
    border: 2px solid rgba(255,255,255,.6);
    padding: 2px;
    top: -9px !important;
    right: -9px !important;
    border-radius: 50%;
    background: #000 !important;
    opacity: 1 !important;
    &:before{
      content: "\f00d";
      font-family: PageLinesFont;
      text-align: center;
      width: 100%;
      display: block;
      color: white;
      line-height: 14px;
    }
    img{
      display: none;
    }
	}
}
