.redux-container-sms_ace_editor .ace-wrapper {
  position: static;
}
.redux-container-sms_ace_editor .ace_editor {
  height: 200px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.redux-container-sms_ace_editor .ace_gutter {
  z-index: 1 !important;
}
